.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  
}

.homePage-question {
  text-align: center;
}

.home-buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.takeout-button {
  /* Shared button styles */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4f926d;
  width: 8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.random-meal-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4f926d;
  width: 10.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #4f926d;
}

.takeout-button:hover,
.random-meal-button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 480px) {
  .home-buttons-container {
    height: 50%;
    flex-direction: column;
    align-items: center;
    }

    .homePage-question {
      font-size: inherit;
    }
  }

  







