.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/Users/dustingouner/Mod3/flavor-quest/src/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  
}

.homePage-question {
  text-align: center;
}

.home-buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 45vw;
}

.takeout-button,
.random-meal-button {
  /* Shared button styles */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #28a745;
}

.random-meal-button {
  /* Additional styles for random-meal-button */
  background-color: #28a745;
}

.takeout-button:hover,
.random-meal-button:hover {
  /* Button styles on hover */
  opacity: 0.8;
}






