.header-container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: #4DA66B;
  position: fixed;
  top: 0;  
  left: 0;  
  z-index: 99999;

}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.logo {
  width: 8vw;
  cursor: pointer;
  margin-left: 1em
}

.slogan {
  display: flex;
  text-align: center;
  width: 45vw;
  font-size: 1em;
  color: white;
  margin-right: 1em;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}


@media screen and (max-width: 480px) {
  .slogan {
    font-size: .75em;
  }

  .logo {
    width: 25vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .slogan {
    font-size: 1em;
  }

  .logo {
    width: 15vw;
  }
}
